---
name: Continuous Integration
on:
  push
jobs:
  secrets:
    name: Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Run Trufflehog
        id: trufflehog
        uses: trufflesecurity/trufflehog@main
        continue-on-error: false
        with:
          head: HEAD
          extra_args: --debug
